<div class="album text-muted">
    <div class="container">
        <div class="row sortable">
            <%# Cuando se tiene el nombre del partial de más de una palabra, se hace lo siguiente%>
            <%= render partial: 'portfolio_item', collection: @portfolio_items %>
        </div>
    </div>
</div>